/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End of reset */
/* Start of listing */
header {
  background: #0c002b;
  color: white;
  overflow: auto;
  padding: 20px 15px;
  text-transform: capitalize;
}

header .logo {
  float: left;
}

header nav ul li {
  float: right;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  padding: 7px 20px;
  font-weight: 300;
  font-size: .9rem;
}

header nav ul li a:hover {
  color: #FF718E;
}

header nav ul li a.register-btn {
  background: #FF718E;
  padding: 10px 25px;
  text-align: center;
  color: white;
  border-radius: 5px;
}

/* end of listing */
#content-area {
  overflow: auto;
  width: 100%;
  background: black;
  min-height: 100vh;
}

#filter {
  background: #faf7f5;
  width: 30%;
  float: left;
}

#filter .inside {
  padding: 20px;
  max-width: 300px;
}

#filter h4 {
  font-size: 0.9rem;
  margin-bottom: 25px;
  font-weight: 500px;
  text-transform: uppercase;
}

#filter select {
  background: transparent;
  padding: 10px;
  font-size: 1rem;
  font-weight: 300;
  color: #1b1b1b;
  display: block;
  margin-bottom: 25px;
  width: 100%;
}

#filter .filters .title {
  font-size: 0.9rem;
  display: block;
  margin-bottom: 1rem;
  color: #ADA8AA;
}

#filter .filters input[type="text"] {
  display: inline-block;
  width: 45%;
  margin-right: 2.5%;
  margin-bottom: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.4rem;
}

#filter .filters.facilities label {
  display: block;
  width: 100%;
  padding: 10px 0;
}

#filter .filters.facilities label input[type="checkbox"] {
  float: right;
}

#listings {
  width: 70%;
  float: left;
  padding: 15px;
  background: #FFFEFF;
}

#listings .search-area input[type="text"] {
  width: 70%;
  background: transparent;
  font-size: 2rem;
  border: none;
  border-bottom: 2px solid #D1CBCD;
  margin-bottom: 20px;
  color: #D1CBCD;
}

#listings .sortby-area {
  margin-bottom: 20px;
}

#listings .sortby-area .results {
  font-size: .8rem;
  color: #D1CBCD;
  display: inline-block;
}

#listings .sortby-area .sort-options {
  float: right;
}

#listings .sortby-area .sort-options select {
  font-size: .9rem;
  font-weight: 300;
  border: 1px solid #D1CBCD;
  background: transparent;
  padding: 5px;
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
}

#listings .sortby-area .sort-options .view {
  display: inline-block;
}

#listings .sortby-area .sort-options .view .fa {
  font-size: 1.5rem;
  margin-right: 15px;
}

#listings .listings-results {
  margin-bottom: 80px;
}

#listings .listings-results .listing {
  background: #fff;
  width: 33.333%;
  -webkit-box-shadow: 0 9px 54px -4px #e0e0e0;
          box-shadow: 0 9px 54px -4px #e0e0e0;
  border-radius: 5px;
}

#listings .listings-results .listing-img {
  color: white;
  position: relative;
  padding: 15px;
  background: url("https://specials-images.forbesimg.com/imageserve/1026205392/960x0.jpg?fit=scale") no-repeat center center;
  min-height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#listings .listings-results .listing-img .details {
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(78, 2, 229, 0.8);
  background: linear-gradient(135deg, rgba(78, 2, 229, 0.8) 0%, rgba(157, 28, 237, 0.8) 100%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#listings .listings-results .listing-img .details .user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  display: inline-block;
}

#listings .listings-results .listing-img .details .user-details {
  display: inline-block;
  vertical-align: top;
}

#listings .listings-results .listing-img .details .user-details .user-name {
  display: block;
  color: white;
}

#listings .listings-results .listing-img .details .user-details .post-date {
  display: block;
  color: rgba(255, 255, 255, 0.7);
}

*, html, body {
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
/*# sourceMappingURL=main.css.map */