@import "variables";
@import "reset";
@import "listing";
@import "content-area";

*,html,body{
    font-family:sans-serif;
    box-sizing:border-box;
}
*::before,*::after{
    box-sizing:inherit;
}


